.hit{
  float: right;
  border: 1px solid #646161;
  background-color: #028a3c;
  border-radius: 5px;
  color: white;
  padding-top: 3px;
}

.exerpt {
  font-size: 12px;
}

.form-select {

}

.input-group-text {
  max-height: 45px;
}

.custom-form-group {
  max-height: 45px;
  margin: 0;
  padding: 0;
}

#input-filter {
  margin-top: 12px;
}
