<!--Sidebar-->
<div style="z-index: 9999999 !important;" class="dashboard-sidebar">
	<a href="/" class="dashboard-sidebar__logo">
		<!--<img src="/assets/images/logo.png" alt="Логотип">-->
	</a>

	<ul class="menu dashboard-sidebar__menu">
		<li>
			<a  (click)="onMenuButtonClick()">
				<span>Аккаунт</span>
			</a>
		</li>
		<li>
			<a (click)="onMenuButtonClick()">
				<span>Услуги</span>
			</a>
		</li>
		<li>
			<a  (click)="onMenuButtonClick()">
				<span>Оплата услуг</span>
			</a>
		</li>
		<li>
			<a (click)="onMenuButtonClick()">
				<span>Статистика</span>
			</a>
		</li>
	</ul>


</div>
