<div class="header-wrapper">
  <div class="header-block">
    <div *ngIf="screenWidth < widthForMobileVersion">
      <div class="hamburger " (click)="onHamburgerClick()" ></div>
    </div>
    <div class="input-group active" #search id="search">
      <input [ngClass]="{
                  'd-block': currentRouteUrl === '/main',
                  'd-none': currentRouteUrl !== '/main'
                  }" type="text" class="form-control" placeholder="Глобальный поиск" name="s">
    </div>
    <div>
      <app-topbar *ngIf="screenWidth > widthForMobileVersion" ></app-topbar>
    </div>
    <div class="header-icons">
      <div class="cart-icons">
        <a [routerLink]="'/cart'" class="relative" data-bs-toggle="modal" data-bs-target="#cart-modal">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge bg-danger rounded-pill count-items">{{basketArraySelectorCount$ | async}}</span>
        </a>
      </div>
      <div *ngIf="currentUserSelector; else elseBlock" class="dropdown hover-text ">

                <span class="tooltip-text"
                      [ngClass]="{
                  'show-tooltip-text': showExitSpan,
                  }"
                      (click)="onLogout()" id="right">Выйти</span>
        <div class="ava-wrapper">
          <i class="far fa-user on-hover" (click)="showExitSpan = !showExitSpan"></i>
          <span class="ava-text">{{currentUserSelector}}</span>
        </div>

      </div>
      <ng-template #elseBlock>
        <a [routerLink]="'/login'" class="signin">Войти</a>
      </ng-template>
    </div>
  </div>
  <div *ngIf="!sidebarVisible" class="banner"></div>
  <app-mobile-topbar *ngIf="screenWidth < widthForMobileVersion" [sidebarVisible]="sidebarVisible"></app-mobile-topbar>
</div>

