.hit{
  float: right;
  border: 1px solid #646161;
  background-color: #028a3c;
  border-radius: 5px;
  color: white;
  padding-top: 3px;
}

.exerpt {
  font-size: 12px;
}

.input-group, input-group-text, form-select {
  z-index: -1 !important;
}
