<nav class="navbar navbar-expand navbar-light ">
    <div *ngIf="categories" class="collapse navbar-collapse">
      <ul *ngFor="let category of categories" class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li
          class="nav-item ">
          <a
            class="nav-link"
            [routerLink]="['/category/',category?.slug]"
            (click)="onCategorySelect()"
            >{{ category?.title }}</a>
          <ul *ngIf="(category && category.children)" >
            <li *ngFor="let categoryItem of getChildrens(category); index as i;">
              <a class="category-item"
                 [routerLink]="['/category/',categoryItem?.slug]">{{categoryItem.title}}<br></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
