a {
  font-size: 10px !important;
  padding: 2px 1px !important;
}

.category-item {
  font-size: 10px !important;
  text-transform: uppercase;
  font-weight: 600;
  color: black !important;
  position: relative;
  right: 26px;
  text-decoration: none;
}
.dropdown {
  border: 1px solid red !important;
  color: black !important;
}
a {
  font-family: "Comic Sans MS";
}
