<div [ngClass]="{
      'd-none': isLoading,
      'd-block': !isLoading
      }"
     class="content-wrapper">

  <ui-utils-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-utils-breadcrumbs>

  <div class="row">
    <div class="col-sm-6">
      <div class="custom-form-group">
        <label class="input-group-text" for="input-sort">Сортировать по:&nbsp;
        <select #sortParams class="form-select" id="input-sort" (change)="onDoSort(sortParams)">
          <option selected disabled value="">Выберите способ сортировки</option>
          <option value="price_asc">Возрастанию цены</option>
          <option value="price_desc">Убыванию цены</option>
          <option value="title_asc">По названию, в прямом порядке</option>
          <option value="title_desc">По названию, в обратном порядке</option>
        </select>
        </label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="custom-form-group">
        <label class="input-group-text" >Фильтровать по названию:&nbsp;
        <input #search type="text" class="form-control" id="input-filter" >
          </label>
      </div>
    </div>
  </div>

  <section class="featured-products">
    <div class="container">
      <div class="row">
        <div class="col-12 ">
          <h6 class="section-title">Товары в выбранной категории:</h6>
        </div>
        <div *ngFor="let product of tempArray" class="col-lg-4 col-sm-6 mb-3">

          <app-card-item [item]="product" [productsInBasket]="productsInBasket"></app-card-item>

        </div>
      </div>
    </div>
  </section>

  <mc-pagination
    [total]="totalArrayLengthForPagination"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
    (newItemEvent)="handleCurrentPage($event)"
  ></mc-pagination>

</div>
<div *ngIf="isLoading" class="d-flex justify-content-center" >
  <app-loading></app-loading>
</div>
