.firstImage {
  width: 32px;
  height: 32px;
}

.secondImage {
  width: 32px;
  height: 32px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  margin-top: 0 !important;
}

.main-content {
  min-height: 100%;
  flex: 1;
  z-index: 3;
  margin-bottom: 10px;
}

.navi {
  min-height: 50px;
  z-index: 999;
}

.auth-menu {
  select {
    max-width: 130px;
    max-height: 32.83px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px !important;
  }

  select:focus {
    outline: none;
  }
}

.signin{
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
}


.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 7;
  width: 110px;
  height: 30px;
  color: white;
  font-size: 16px;
  background-color: #03043f;
  border-radius: 10px;
  padding: 2px;
}
.teh {
  margin-right: 60px;
}


.ava-wrapper{
  position: relative;
  bottom: 3px;
}

.on-hover {
  cursor: pointer;
  color: white;
}
.ava-text {
  font-size: 16px;
  padding-left: 5px;
  color: white;
  cursor: default;
  min-width: 130px;
}


.show-tooltip-text {
  visibility: visible;
}

#top {
  top: -50px;
  left: -30px;
}

#bottom {
  top: 25px;
  left: -50%;
}

#left {
  top: -9px;
  right: 77%;
}

#right {
  top: -5px;
  left: 20%;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 0;
  text-align: center;
  z-index: 99999999;
  top: 10px;
  cursor: pointer;
}

span{
  font-family: "Comic Sans MS";
}

@media (max-width: 501px) {
  .tooltip-text {
    height:22px;
    width: 80px;
    font-size: 15px;
    padding: 1px;
  }
  #right {
    top: -5px;
    left: 20%;
  }
  .teh {
    margin-right: 30px;
  }
  .ava-text {
    font-size: 14px;
  }
}




