.hamburger{
  position: relative;
  top: 20px;
  width: 30px;
  height: 30px;
  background: url("/assets/img/menu2.png") 30% / cover;
}

img{
  width: 30px;
  height: 30px;
}

a {
  font-family: "Comic Sans MS";
}

