img{
  width: 30px;
  height: 30px;
}

a {
  font-family: "Comic Sans MS";
}

a.disabled {
  pointer-events: none;
  }

a, li {
  color: black;
}

a:hover {
  color: #733786;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #733786;
}

li a.dropdown-item {
  color: #000;
}

li a.dropdown-item:focus, li a.dropdown-item:hover {
  background-color: #322d7e;
  color: #000;
}

.dropdown-menu {
  min-width: 100%;
  z-index: 1001;
}

.dropdown-menu > div, .dropdown-menu {
  background-color: #f9f9f9;
  margin: 1px;
}

.dropdown-menu .emty-cart {
  text-align: center;
}

.dropdown-menu .item-row div {
  text-align: center;
}

