.small-image-size{
  max-width: 80px;
}

.container {
    max-width: 900px;
}

.increment{
  font-size: 22px;
  color: #9a0dc5;
  cursor: pointer;
}

.trash{
  cursor: pointer
}

thead {
  color: black;
}

.btn-block {
  margin-bottom: 20px;
}
