:host {
  input{
    margin-bottom: 10px;
    color: black;
  }
  font-family: "Comic Sans MS";

}
.auth-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
  background-color: #242536;
}
.container {
  max-width: 800px;
  max-height: 400px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
}
#button{
  width: 100%;
    height: 40px !important;
    padding: 4px  !important;
  border: none;
  background-color: #04707e;
}
h3{
  color: #242536;
  margin-bottom: 15%;
  margin-top: 10%;
}
